.heading{
    font-size: 7vmin;
    color:rgb(153, 152, 140);
}

.parent, .parent2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left:160px;
  }
  

.buttondownload{
    width:100px;
    height:60px;
    color:white;
}

strong{
    font-family: 'Abel';
    font-size: 25px;
}
.buttonreset{
    width:100px;
    height:60px;
    color:white;
    margin-right: 100px;
    background-color: brown;
}
.chart1{
    display:flex;
    flex: 0 0 50%; /* This will make the chart take up 45% of the available width */
    margin:0;
    padding: 0;
    position:relative;

}

.chart2{
flex: 0 0 50%; /* This will make the chart take up 45% of the available width */
  margin: 0;
  padding: 0;
  position:relative;
}