@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Abel');
.vertical{
    width: 55vmin;
    height:70vmin;
}   

/* .image3{
    width: 55vmin;
    height:45vmin;
}    */

.horizontal{
    width: 55vmin;
    height:45vmin;
}   

.swal2-popup {
    font-family: "Abel";
  }

.buttonbid{

        height:40px;
        width:90px;
        font-size: 15px;
      }

.button2{
    justify-content: center;
    height:40px;
    
    }

p1{
        color:rgb(236, 230, 230);
        font-style: bold;
        font-family: 'Abel';

    }

p{
    font-family: "Abel";
}

.colortext{

    color:rgb(103, 15, 15);
    padding:0;
    font-family: "Abel";
}

.blacktext{
    color:black;
}